<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospitales Sevilla</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <%- include('modules/navbar.ejs') %>
    <main>
        <section class="hospitales contenedor">
            <h2 class="titulo">Nuestros Hospitales</h2>
            <div class="cards">
                <% result.forEach(hospital => { %>
                <div class="card">
                    
                    <img src="/images/<%= hospital.photo %>" alt="">
                    <div class="contenido-texto-card">
                        <h4><%= hospital.name_hospital %></h4>
                        <button class="btn-profile"><a href="/hospital/hospitalprofile/<%=hospital.hospital_id%>">Ver perfil</a></button> 
                    </div>                     
                </div>
                <% }); %> 
            </div>
        </section>
    </main>
    <%- include('modules/footer.ejs') %>
</body>

</html>